\documentclass{ {{- class_name -}} }

\begin{document}

%----------- Informations du rapport ---------
\titre{ {{ payload.metadata.title|latex }} }
\UE{ {{ payload.metadata.ue|latex }} }
\sujet{}
\enseignant{}
\eleves{ {{ students_block }} }

%----------- Initialisation -------------------
\fairemarges
\fairepagedegarde

\section*{Introduction}
 \addcontentsline{toc}{section}{Introduction}
{{ payload.genericSections.introduction|latex }}

\section{Cadre theorique}
{{ payload.genericSections.theoreticalFramework|latex }}

\section{Methodologie}
{{ payload.genericSections.methodology|latex }}

\section{Synthese des indicateurs}
\textbf{Notebook source:} {{ payload.analysisSummary.sourceNotebook|latex }} \\
\textbf{Fichier de donnees:} {{ payload.analysisSummary.sourceDataFile|latex }} \\
\textbf{Disponibilite:} {{ payload.analysisSummary.kpis.availability }}\% \\
\textbf{Facteur de capacite:} {{ payload.analysisSummary.kpis.capacityFactor }} \\
\textbf{Puissance nominale:} {{ payload.analysisSummary.kpis.ratedPower }} MW

\section{Analyses graphiques}
{% for figure in figures %}
\subsection{ {{ payload.chartSections[loop.index0].title|latex }} }
\begin{figure}[H]
  \centering
  \includegraphics[width=0.9\textwidth]{images/{{ figure.filename }}}
  \caption{ {{ payload.chartSections[loop.index0].caption|latex }} }
\end{figure}
\textbf{Interpretation analyste:} {{ payload.chartSections[loop.index0].interpretation|latex }}
{% endfor %}

\section*{Conclusion}
\addcontentsline{toc}{section}{Conclusion}
{{ payload.genericSections.conclusion|latex }}

\end{document}
